
  <div class="navbar">
    <div class="navbar-inner">
	    <div class="container">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <h1 class="brand">TORCH<small>website</small></h1>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <%= link_to "TOP", :menters %>
            </li>
            <li class="">
              <%= link_to "Menters", :menters %>
            </li>
            <li  id="user_nav">
              <% if current_user %>
                <%= link_to "ログアウト" ,logout_path %>
              <% else %>
               <%= link_to "Login By FB", "/auth/facebook" %>
              <% end %>
            </li>
            <li class="">
              <%= link_to "users", :users %>
            </li>
            <li class="">
              <%= link_to "Regist new user", controller: "users", action: "new" %>
            </li>
            <li class="">
              こんにちわ<%= current_user.name %>さん
            </li>
   	      </ul>
   　    </div>
	    </div>
    </div>
  </div>