<% @page_title = @menter.name %>
<div class="row show-grid">
	<div class="sspan7 offset0">
		<%= image_tag(url_for(action: 'show_image', id: @menter.id), size: '300x300') %>
	</div>
	<div class="span4 ofset4", style="font-size:300%">
		<h1><%= @menter.name %></h1>
		<h2><%= @menter.career %></h2>
		<h2><%= @menter.catch_copy %></h2>
	</div>
</div>
<p><%= @menter.about %></p>
