<table class="attr">
	<tr>
		<th><%= form.label :name, "氏名" %></th>
		<th><%= form.text_field :name, size: 20 %></th>
	</tr>
	<tr>
		<th><%= form.label :age, "年齢" %></th>
		<th><%= form.text_field :age %>歳</th>
	</tr>
	<tr>
		<th><%= form.label :profile, "自己紹介" %></th>
		<th><%= form.text_area :profile, rows: 15, cols: 100 %></th>
	</tr>
	<tr>
		<th><%= form.label :password, "パスワード" %></th>
		<th><%= form.password_field :password %></th>
	</tr>
	<tr>
		<th><%= form.label :password_confirmation, "パスワードの確認" %></th>
		<th><%= form.password_field :password_confirmation %></th>
	</tr>
</table>